**Q1. How do you comment code in Python? What are the different types of comments?**

In [ ]:
#1. single line comments:
#x=5

#2. Multi line comments:
"""
abcd
efgh
"""

#in google colab multi line comments method doesn't support

**Q2. What are variables in Python? How do you declare and assign values to variables?**

A variable in Python is like a labeled container that holds different things (numbers, words, etc.). It helps us remember and use these things later by their labels.

In [ ]:
#declaring variables
a=5
b=5.6
c="Jadavpur"

**Q3. How do you convert one data type to another in Python?**

In [20]:
#converting integer to a float
x=5
print("Intial Type of variable x: ",type(x))
x=float(x)
print("after type conversion variable is:",x)
print("Type of variable x: ",type(x))

Intial Type of variable x:  <class 'int'>
after type conversion variable is: 5.0
Type of variable x:  <class 'float'>

**Q4. How do you write and execute a Python script from the command line?**

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [22]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

**Q6. What is a complex number in mathematics, and how is it represented in Python?**

In [23]:
#A complex number is a number that consists of two parts: a real part and an imaginary part.
#It is written in the form "a + bi,"
#where "a" represents the real part,
# "b" represents the imaginary part, and
# "i" represents the imaginary unit (âˆš-1).
a=5+6j
type(a)

complex

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

In [24]:
age=25

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?**

In [25]:
price=9.99
type(price)

float

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?**

In [26]:
name="Rupayan Halder"
print("Name is:",name)

Name is: Rupayan Halder

**Q10. Given the string "Hello, World!", extract the substring "World".**

In [35]:
s="Hello, World!"
s[7:12]

'World'

**Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.**

In [36]:
is_student=True
#I am a m.tech student in jadavpur