Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [2]:
#string type:
s="jadavpur University"
print("type of s:",type(s))

#list type:
l=[1,2,3.5,"abc"]
print("type of l:",type(l))

#float type:
f=3.789
print("type of f:",type(f))

#tuple type:
t=(1,2,3,'abc')
print("type of t:",type(t))

type of s: <class 'str'>
type of l: <class 'list'>
type of f: <class 'float'>
type of t: <class 'tuple'>

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1=''
var2='[ DS , ML , Python]'
var3=['DS' , 'ML' , 'Python']
var4 = 1
print("type of var1='' is=",type(var1))
print("type of var2='[ DS , ML , Python]' is=",type(var2))
print("type of var3=['DS' , 'ML' , 'Python'] is=",type(var3))
print("type of var4=1 is=",type(var4))

type of var1='' is= <class 'str'>
type of var2='[ DS , ML , Python]' is= <class 'str'>
type of var3=['DS' , 'ML' , 'Python'] is= <class 'list'>
type of var4=1 is= <class 'int'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	%

(iii)	//

(iv)	**

In [4]:
a=3.0
b=2.0
print("a / b =",(a/b))
print("a % b =",(a%b))
print("a // b =",(a//b))
print("a ** b =",(a**b))

a / b = 1.5
a % b = 1.0
a // b = 1.0
a ** b = 9.0

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
#creating a list from user input:
list_length=int(input("please enter the length of your list:"))
#Now let's create an empty list:
Our_list=[]
for i in range(list_length):
  data = input("Enter data point #{}: ".format(i+1))
  Our_list.append(data)
print("Now our list is:")
print(Our_list)
for i in Our_list:
  print("item",i,"has type=",type(i))

please enter the length of your list:10
Enter data point #1: 5
Enter data point #2: 6
Enter data point #3: 7
Enter data point #4: 8
Enter data point #5: 2
Enter data point #6: 3
Enter data point #7: 9
Enter data point #8: 11
Enter data point #9: 1
Enter data point #10: 7
Now our list is:
['5', '6', '7', '8', '2', '3', '9', '11', '1', '7']
item 5 has type= <class 'str'>
item 6 has type= <class 'str'>
item 7 has type= <class 'str'>
item 8 has type= <class 'str'>
item 2 has type= <class 'str'>
item 3 has type= <class 'str'>
item 9 has type= <class 'str'>
item 11 has type= <class 'str'>
item 1 has type= <class 'str'>
item 7 has type= <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
A=int(input("Enter the dividend(A):"))
B=int(input("Enter the dividend(B):"))

#Now we want see how many times we can divide
#so we have to keep a count of it
count=0

while (A%B==0):
  print("After dividing ",A," by ",B)
  A=A//B # A is divided by B
  print("we get:",A)
  count+=1

if count>0:
  print("A is divisible by B")
  print("We can divide A by B ,",count,"times")
else:
  print("A is Not divisible by B")

Enter the dividend(A):20
Enter the dividend(B):4
After dividing  20  by  4
we get: 5
A is divisible by B
We can divide A by B , 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [8]:
4num_elements = int(input("Enter the number of elements: "))

# Creating an empty list:
user_list = []

for i in range(num_elements):

  #The variable valid_input is used to track whether the user has entered a valid input.
  valid_input = False
  #initially, we assume that the user has not provided a valid input until proven otherwise.
  #This allows us to control the flow of the program and ensure that only integer values are accepted.

  #The__ "while not valid_input"__construct is a while loop that continues until the user enters a valid input.
  # Once the user enters a valid input (an integer), valid_input is set to True, and the loop is exited.
  while not valid_input:
    value = input("Enter element #{}: ".format(i+1))
    if value.isdigit():
      user_list.append(int(value))
      valid_input = True
    else:
      print("Wrong input! Please enter an integer.")

print("List of integer values:", user_list)

for i in user_list:
  if (i%3==0):
    print(i," is divisible by 3")
  else:
    print(i," is not divisible by 3")

Enter the number of elements: 25
Enter element #1: 1
Enter element #2: 2
Enter element #3: 3
Enter element #4: 4
Enter element #5: 5
Enter element #6: 6
Enter element #7: 7
Enter element #8: 8
Enter element #9: 9
Enter element #10: 10
Enter element #11: 11
Enter element #12: 12
Enter element #13: 13
Enter element #14: 14
Enter element #15: 15
Enter element #16: 16
Enter element #17: 31
Enter element #18: 32
Enter element #19: 33
Enter element #20: 34
Enter element #21: 35
Enter element #22: 36
Enter element #23: 37
Enter element #24: 38
Enter element #25: 39
List of integer values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 31, 32, 33, 34, 35, 36, 37, 38, 39]
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
31  is not divisible by 3
32  is not divisible by 3
33  is divisible by 3
34  is not divisible by 3
35  is not divisible by 3
36  is divisible by 3
37  is not divisible by 3
38  is not divisible by 3
39  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [9]:
# mutable data types are those that can be modified after they are created.
my_list=[1,2,3]
my_list[0]=7
print(my_list)
#Immutable data types are those whose values cannot be changed after they are created.
my_tuple = (1, 2, 3)
my_tuple[0] = 4  # This will raise an error since tuples are immutable
print(my_tuple)

[7, 2, 3]

TypeError: ignored